.gallery {
    display: flex;
    align-items: center;
}

.grid {
    margin-top: 40px;
    display: block;
}
.grid-item {
    margin-bottom: 17px;
    overflow: hidden;
}

.gallery-item{
    position: relative;
}

.gallery .section-title {
    margin-top:100px;
    margin-bottom: 75px;
}


.medium {
    width:180px;
    height: 134px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
}

.small {
    width:120px;
    height: 89px;
    overflow: hidden;
    margin-right: 2px;
    margin-bottom: 2px;
}
.small img {
    width:100%;
    height: 100%;
}
.img-container {
    display: flex;
   flex-direction:row;
    flex-wrap: wrap;

    width:370px;
}


.gallery-item-overlay {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery-item:hover .gallery-item-overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}


.gallery-hover-item {
    color: white;
    background-color: #14b9d5;
    border-radius: 5px;
    margin-right: 5px;
    border: none;
    width:40px;
    height: 40px;
}

.hover-item {
    font-size: 18px;
}

.hover-item:hover{
    background-color: #0f8fa6;;
}

.btn-cause-masonry {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
